/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	font: 13px/16px "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
	color: #333;
	position: relative;
}

fieldset#type {
	margin-right: 49px;
	float: left;
}

#vis {
	clear: all;
	margin-bottom: 20px;
	height: 800px;
}

#tiles {
	font-size: 13px;
	clear: both;
}

#tiles th {
	padding: 3px;
}

th.fruitname{
	text-align: right;
	font-size: 13px;
	color = black !important;
}

#tiles tr:first-child th {
	padding-top: 3px;
}

#tiles td {
	-webkit-perspective: 1000;
}

#tiles tdcurr {
	background: #000000;
	border-color: #000000;
	border-radius: 2px;
	-webkit-perspective: 1000;
}

#tiles .tile {
	width: 70px;
	height: 29px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.7s;
}

#tiles .tilecurr {
	width: 92px;
	height: 29px;
}

.face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	width: 68px;
	height: 27px;
	background: #eee;
	border: 1px solid white;
	border-radius: 4px;
}

.facecurr {
	width: 90px;
	height: 27px;
}

#tiles td.sel .face {
	border-color: black;
}

.face.hidden {
	display: none;
}

#tiles td.dim .screen {
	opacity: 0.6;
}

.face.back {
	-webkit-transform: rotateY(180deg);
}

.tile .screen {
	background: white;
	opacity: 0.0;
	width: 60px;
	height: 45px;
	position: absolute;
	z-index: 1337;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid white;
}

#legend {
	margin-right: 200px;
	font-size: 11px;
	text-align: right;
	float: right;
}

#legend ul {
	list-style-type: none;
	overflow: hidden;
	clear: both;
	margin-top: 0px;
}

#legend li {
	float: right;
	margin-right: 1px;
	width: 70px;
	height: 27px;
	font-size: 13px;
	text-align: center;
	color: rgba(0, 0, 0, 0);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#legend .lihover {
	-webkit-animation: small 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: 2;
}
@-webkit-keyframes small
{
to {
	width: 200px;
	color: rgba(0, 0, 0, 1);
}
}

#legend p {
	margin-top: 3px;
}

#legend p.more {
	float: right;
}

#legend p.less {
	float: left;
}

.controls {
	margin: 13px 20px 0px 85px;
	font-size: 12px;
	line-height: 12px;
	float: left;
}

.controls input {
	display: none;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.controls label {
	float: left;
	display: block;
	cursor: pointer;
	padding: 4px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 3px 2px 0;
	color: #888;
}

.controls label:hover {
	background: #999;
	color: white;
	border: 1px solid #888;
}

.controls label.sel {
	background: #444;
	color: white;
	border: 1px solid #333;
	cursor: default;
}

.controls button {
	padding: 2px 6px 3px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	color: #888;
	font-size: 12px;
	margin: 0;
}

.controls button:hover {
	background: #999;
	color: white;
	border: 1px solid #888;
}

.controls button.sel {
	background: #444;
	color: white;
	border: 1px solid #333;
	cursor: default;
}

/* 11 buckets purple to red */

.rbow2 .fresh {
	background: #669933;
}

.rbow2 .greenhouse {
	background: #99cc33;
}

.rbow2 .storage {
	background: #cccc66;
}

.rbow2 .none {
	background: #BDBDBD;
}

