html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}


body {
	font: 13px/16px "ff-dagny-web-pro-1","ff-dagny-web-pro-2",sans-serif;
	color: #333;
	position: relative;
}

#container {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0 10px 0;
	position: relative;
}

#controls fieldset {
	width: 250px;
}

#controls span {
	float: left;
	width: 120px;
	clear: left;
}

#controls button {
	float: left;
}

fieldset#state label, fieldset#state input {
	display: none;
}

fieldset#state.ff3 {
	width: 500px;
}

fieldset#state.ff3 label {
	display: block !important;
}

fieldset#type {
	margin-right: 49px;
	float: left;
}

#state_all_label {
	display: inline !important;
}

#scale {
	float: right;
}

#scale ul {
	list-style-type: none;
}

#scale li {
	float: left;
	width: 15px;
	height: 15px;
}

#vis {
	clear: all;
	margin-bottom: 20px;
	height: 370px;
	height: 350px;
}

#tiles {
	font-size: 13px;
	clear: both;
}

#tiles th {
	vertical-align: top;
	padding: 3px;
}

th.h7, th.h8, th.h9, th.h10, th.h11, th.h12, th.h13, th.h14, th.h15, th.h16, th.h17, th.h18, th.h19 {
	color: #444 !important;
}  

#tiles tr th {
	padding-top: 12px;
}

#tiles tr:first-child th {
	padding-top: 3px;
}

#tiles td {
	-webkit-perspective: 1000;
}

#tiles .tile {
	width: 62px;
	height: 27px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.7s;
}

.face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	width: 60px;
	height: 25px;
	background: #eee;
	border: 1px solid white;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#tiles td.sel .face {
	border-color: black;
}

.face.hidden {
	display: none;
}

#tiles td.dim .screen {
	opacity: 0.6;
}

.face.back {
	-webkit-transform: rotateY(180deg);
}

.tile .screen {
	background: white;
	opacity: 0.0;
	width: 60px;
	height: 45px;
	position: absolute;
	z-index: 1337;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid white;
}


#legend {
	clear: left;
	margin-left: 60px;
	width: 165px;
	color: #777;
	margin-top: 10px;
	background: #f3f3f3;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	padding: 5px 7px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 10px;
	margin-right: 24px;
}

#legend ul {
	list-style-type: none;
	overflow: hidden;
	clear: both;
}

#legend li {
	float: left;
	margin-right: 1px;
	width: 40px;
	height: 25px;
}

#legend p {
	margin-top: 3px;
}

#legend p.more {
	float: right;
}

#legend p.less {
	float: left;
}

#states_nav {
	width: 400px;
	float: left;
	margin-left: 20px;
	margin-top: 250px;
}

#states_nav p {
	margin-left: 4px;
}

#wtf {
	float: left;
	width: 515px;
}

#poweredby {
	float: right !important;
	margin-top: -11px !important;
}


#wtf .title {
	background: #fdf;
}


#header h1, #header p#subtitle {
	margin-left: 18px;
}

#footer {
	clear: both;
	margin: 25px !important;
}

.controls {
	margin: 0 0 20px 7px;
	font-size: 12px;
	line-height: 12px;
}

.controls input {
	display: none;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.controls label {
	float: left;
	display: block;
	cursor: pointer;
	padding: 4px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 3px 2px 0;
	color: #888;
}

.controls label:hover {
	background: #999;
	color: white;
	border: 1px solid #888;
}

.controls label.sel {
	background: #444;
	color: white;
	border: 1px solid #333;
	cursor: default;
}

.controls button {
	padding: 2px 6px 3px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	color: #888;
	font-size: 12px;
	margin: 0;
	
}

.controls button:hover {
	background: #999;
	color: white;
	border: 1px solid #888;
}

.controls button.sel {
	background: #444;
	color: white;
	border: 1px solid #333;
	cursor: default;
}

h2 {
	margin-top: -2px;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 30px;
	width: 250px;
	margin-left: -50px;
	z-index: -1337;
	text-align: center;
}

p.subtitle {
	font-size: 13px;
	line-height: 19px;
	padding-top: 2px;
	color: #999;
}



html.ie8 #vis, html.ie9 #vis {
	height: 285px !important;
}

html.ie8 #tiles td.sel .face {
	border-color: white !important;
}

#ie8_percents {
	display: none;
}

#ie8_percents.ff3 {
	display: block;
}

html.ie8 #ie8_percents, #ie8_percents.ff3 {
	display: block !important;
	position: absolute;
	left: 20px;
	top: 510px;
}


/* 11 buckets purple to red */

.rbow2 .q1-4 {
	background: #669933;
}

.rbow2 .q2-4 {
	background: #99cc33;
}

.rbow2 .q3-4 {
	background: #cccc66;
}

.rbow2 .q4-4 {
	background: #BDBDBD;
}


