     /* CUSTOMIZE THE CAROUSEL
      -------------------------------------------------- */
      
      /* Carousel base class */
      .carousel {
        margin-top: -20px;
      }
      
      .carousel .container {
        position: relative;
        z-index: 9;
      }
      
      .carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
        background-color: transparent;
        border: 0;
        z-index: 10;
      }
      
      .carousel .item {
        background: rgb(160, 220, 110);
        height: 400px;
      }
      .carousel img {
               
      }
      
      .carousel-caption {
        background-color: transparent;
        position: static;
        padding: 5px 20px;
        
      }
      .carousel-caption h1,
      .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
      }

      .carousel-caption .btn {
        margin-top: 10px;
      }
      
      #gemuesePic {
        float: left;
      }
        

      #mydatepicker {
        position: absolute;
        right: 60px;
        top: 30px;
      
      }
      #gemueseFirstDiv {
        margin-right: auto;
        margin-left: auto;
        margin-top:-10px;
        height: 320px;
        width:auto;
        overflow: hidden;
        
      }

      #singleGemueseDiv {
        width: 150px;
        padding: 5px;
        float: left;
        text-align: center;
        
      }
       #singleGemueseDiv:hover {
        width: 160px;  
        padding: 0px;
      }

      #up {
        width: 48px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.6;       
      }

      #down {
        width: 48px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.6;     
      }

      #up:hover {
        opacity: 1;       
      }

      #down:hover {
        opacity: 1;     
      }
       
      .sideMenu {
        position: absolute;
        width: 100px;
        height: 100%;
        right: 0;
        top: 50px;
       }

      #gemueseName{
        margin-left:280px;
        margin-top:20px;
        margin-bottom:20px;
       }

      #arrow{
        cursor: pointer;
       }  

      #recipeUebersicht {
         font-size: 16px;
      }

      .smallPic {
        height: 100px;
        display: -webkit-box;
        margin-left: auto;
        margin-right: auto;
      }

       #recDiv {
          float:left;
          width: 200px;
          text-align: center;
          line-height: 30px;
      }

      #recImage {
          display: -webkit-box;
          margin-left: auto;
          margin-right: auto;
      }

      
      /* MARKETING CONTENT
      -------------------------------------------------- */
      
      /* Center align the text within the three columns below the carousel */
      .marketing .span4 {
        text-align: center;
      }

      .marketing h2 {
        font-weight: normal;
      }
      .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
        
      }
      
      .marketing {
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px;
      }
      
      
      /* Featurettes
      ------------------------- */
      
      .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
      }
      .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
      }
      .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      }
      
      /* Give some space on the sides of the floated elements so text doesn't run right into it. */
      .featurette-image.pull-left {
        margin-right: 40px;
      }
      .featurette-image.pull-right {
        margin-left: 40px;
      }
      
      /* Thin out the marketing headings */
      .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
      }
      
      
      
      /* RESPONSIVE CSS
      -------------------------------------------------- */
      
      @media (max-width: 979px) {

        #up {
            width: 45px;
            height: 45px;
        }

        #down {
            width: 45px;
            height: 45px;
        }

        #gemueseFirstDiv {
        margin-left: 0px !important;
        
      }

        #singleGemueseDiv {
            width: 130px;
            padding:3px;
            float: left;
            text-align: center;
        
        }

        #singleGemueseDiv:hover {
            width: 130px;
            padding:3px;
        }
        
        #gemueseName{
            margin-left:163px;
        }

        #dp1 {
            position: relative;
            top: 0px;
            right: 0px;
        }
    
        .carousel {
          margin-top: 0px;
        }
        
        .carousel-caption {
          padding:0px;
          padding-top:5px;
        }

        .carousel img {
          width: 170px;
        }
        #gemuesePic {
          margin-left: -30px;
          
        }
      
        .featurette {
          height: auto;
          padding: 0;
        }

        .featurette-image.pull-left,
        .featurette-image.pull-right {
          display: block;
          float: none;
          max-width: 40%;
          margin: 0 auto 20px;
        }
      }
      
      
      @media (max-width: 767px) {
        

        #dp1 {
            position: relative;
            top: 0px;
            right: 0px;
        }

        .carousel {
          margin-top: 0px;
          margin-left: -20px;
          margin-right: -20px;
        }
        .carousel .container {
      
        }

        #mydatepicker {
            position: inherit;
        }
        
        #testDiv {
            position: relative;
            bottom: 10px;
            margin-left: -50px;
            margin-right: -40px;
            alignment: center;
        }

        #newDiv {
            width: 100px;
            float: left;
            text-align: center;
        }
    
        #gemueseName {
            margin-top: 50px;
        }

        #singleGemueseDiv {
            width: 100px;
            padding: 3px;
        }
        #singleGemueseDiv:hover {
            width: 100px;
            padding: 3px;
        }

        
        .carousel .item {
          height: auto;
          margin-bottom: 20px;
        }

        .carousel img {
         
        }
        .carousel-caption {
          padding: 0 10px;
          margin-top: 0px;
        }
        .carousel-caption h1 {
          font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 18px;
        }
      
        .marketing .span4 + .span4 {
          margin-top: 40px;
        }
      
        .featurette-heading {
          font-size: 30px;
        }
        .featurette .lead {
          font-size: 18px;
          line-height: 1.5;
        }

      
      }

     @media (max-width: 365px) {

        #singleGemueseDiv {
            width: 85px;
            padding: 3px;
        }
        #singleGemueseDiv:hover {
            width: 85px;
            padding: 3px;
        }

     }

     @media (max-width: 319px) {

        #singleGemueseDiv {
            width: 75px;
            padding: 3px;
        }
        #singleGemueseDiv:hover {
            width: 75px;
            padding: 3px;
        }

     }