     /* CUSTOMIZE THE CAROUSEL
      -------------------------------------------------- */
      
      /* Carousel base class */
      .carousel {
        margin-top: -20px;
      }
      
      .carousel .container {
        position: relative;
        z-index: 9;
      }
      
      .carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
        background-color: transparent;
        border: 0;
        z-index: 10;
      }
      
      .carousel .item {
        background: transparent url(../img/slider.jpg) repeat 0% 0%;
        height: 400px;
      }
      .carousel img {
               
      }
      
      .carousel-caption {
        background-color: transparent;
        position: static;
        padding: 0 20px;
        
      }
      .carousel-caption h1,
      .carousel-caption .lead {
        margin: 0;
        margin-top: 30px;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
      }

      .carousel-caption .btn {
        margin-top: 10px;
      }
      
      #firstDiv {
        float: left;
        width: 300px;
      }
        
      #secondDiv {
        margin-left: 30px;
      }

      #dp1 {
        position: absolute;
        right: 60px;
        top: 30px;
      
      }
      #testDiv {
        margin-right: auto;
        margin-left: auto;
        
      }

      #newDiv {
        width: 170px;
        float: left;
        text-align: center;
        
      }
        
      
      
      /* MARKETING CONTENT
      -------------------------------------------------- */
      
      /* Center align the text within the three columns below the carousel */
      .marketing .span4 {
        text-align: center;
      }
      .marketing h2 {
        font-weight: normal;
      }
      .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
      }
      
      
      /* Featurettes
      ------------------------- */
      
      .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
      }
      .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
      }
      .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      }
      
      /* Give some space on the sides of the floated elements so text doesn't run right into it. */
      .featurette-image.pull-left {
        margin-right: 40px;
      }
      .featurette-image.pull-right {
        margin-left: 40px;
      }
      
      /* Thin out the marketing headings */
      .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
      }
      
      
      
      /* RESPONSIVE CSS
      -------------------------------------------------- */
      
      @media (max-width: 979px) {

        #dp1 {
            position: relative;
            top: 0px;
            right: 0px;
        }
        
        .carousel .item {
          height: 400px;
        }

        .carousel img {
          width: auto;
          height: 100px;
        }
      
        .featurette {
          height: auto;
          padding: 0;
        }

        .featurette-image.pull-left,
        .featurette-image.pull-right {
          display: block;
          float: none;
          max-width: 40%;
          margin: 0 auto 20px;
        }
      }
      
      
      @media (max-width: 767px) {

        #dp1 {
            position: relative;
            top: 0px;
            right: 0px;
        }
      
        .carousel {
          margin-left: -20px;
          margin-right: -20px;
        }
        .carousel .container {
      
        }
        
        #testDiv {
            position: relative;
            bottom: 10px;
            margin-left: -50px;
            margin-right: -40px;
            alignment: center;
        }

        #newDiv {
            width: 100px;
            float: left;
            text-align: center;
        }
        
        .carousel .item {
          margin-top: -100px;
          height: auto;
          margin-bottom: 20px;
        }

        .carousel img {
          height: 100px;
        }
        .carousel-caption {
          width: 65%;
          padding: 0 70px;
          margin-top: 40px;
        }
        .carousel-caption h1 {
          font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 18px;
        }
      
        .marketing .span4 + .span4 {
          margin-top: 40px;
        }
      
        .featurette-heading {
          font-size: 30px;
        }
        .featurette .lead {
          font-size: 18px;
          line-height: 1.5;
        }
      
      }