#map-header {    
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

li a {
    font-size: 9pt;
    cursor: pointer;
}

#pos {    
    height:600px;
}

#pos img {
    max-width:none;
}

.well sidebar-nav {
    height:600px;
}

.infoBubbleContent {
    line-height:10px;
}

.infoBubbleHeadline {
    font-weight:bold;
}

.infoBubbleOpening {
    font-size:9pt;
}
