#map-header {    
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#pos {    
    height:600px;
}

#pos img {
    max-width:none;
}
